*{
   

    background: #0b1524;
}
.app{
    font-family: "Heebo", sans-serif;  
 
    
}
.header{

 color: white;
 padding: 20px 100px;
 margin-top: 3cm;
 

}
.header h1{
    font-size: xx-large;
}
.image{
    margin-top: -8cm;
    position: absolute;
    width: 377px;
    height: auto;
    margin-left: 19cm;
}
.animation{
    animation-name: noora;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-iteration-count: infinite;
}

.LEARN{
    color: aliceblue;
    padding: 10px 30px;
    background-color: #273C5A;
    cursor: pointer;
    text-align: center;
}
.EARLY{
    color: aliceblue;
    padding: 10px 30px;
    background-color: red;
    cursor: pointer;
    text-align: center;
}
.bold{
    color: white;
padding: 200px;
text-align: left;
padding: 500px;
margin-left: -450px;
font-size: 50px;
margin-bottom: -477px;
}
.picture3{
    position: Relative;
    margin-top: -503px;
    margin-left: 503px;

}
.picture4{
    position: Relative;
    margin-left: 530px; 
}
.picture5{
    position: Relative;
    margin-left: 1024px; 
    margin-top: -526px;
}
.picture6{
    position: Relative;
    margin-left: 1024px; 
  
}
.video {
    text-align:center;
    padding: 100px;
    color: white;
}
.input{
    text-align:center;
    background-color: aliceblue;
    height :17px;
    
}
